*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(14, 41, 84);

}
.avatar{
    width: 80px;
    height: 80px;
}
a{
    text-decoration: none;
    color: black;
}
.icon{
    width: 30px;
    height: 30px;
}
.icons{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
#NumBtn{
    background-color: #2E8A99;
    color: white;
    border: none;
}
#TypeBtn{
    background-color: #1F6E8C;
    color: white;
}
.bottom{
    background-color: #84A7A1;
    border: none;
}